.App {
	background-color: var(--primary-color-blue);
	min-height: 100vh;
	font-size: var(--size-lables);
	color: var(--secondary-color-gray);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: var(--height-header) 1fr var(--height-footer);
}

.button-a-form-project {
	--bg-button-a-form-project: #192735;
	--bg-button-a-form-project-hover: #243241;
	cursor: pointer;
	padding: 10px;
	background: var(--bg-button-a-form-project);
	text-decoration: none;
	border-radius: 8px;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button-a-form-project:hover {
	background: var(--bg-button-a-form-project-hover);
}
