.App {
	background-color: var(--primary-color-dark-blue);
	min-height: 100vh;
	font-size: var(--size-lables);
	color: var(--secondary-color-gray);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 56px 1fr 50px;
}
