@import-normalize;

:root {
	--lines-color: #1e2d3d;

	--gradients-color-purple: #4d5bce;
	--gradients-color-green: #43d9ad;

	--primary-color-black: #01080e;
	--primary-color-blue: #011627;
	--primary-color-dark-blue: #011221;

	--secondary-color-gray: #607b96;
	--secondary-color-green: #3c9d93;
	--secondary-color-purple: #4d5bce;
	--secondary-color-white: #e5e9f0;

	--accent-color-orange: #fea55f;
	--accent-color-green: #43d9ad;
	--accent-color-cream: #e99287;
	--accent-color-purple: #c98bdf;

	--secondary-color-yellow: #e9b321;

	--size-headline: 62px;
	--size-subheadline: 32px;
	--size-body: 18px;
	--size-lables: 16px;
	--size-code: 14px;

	--max-width-explorer: 350px;
	--min-width-explorer: 220px;

	--padding-global: 40px 3.7%;

	--transition-time: 0.15s;
	--transition: ease-in-out var(--transition-time);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Fira Code", monospace;
}
